.card {
    background-color: white;
    margin: 5px;
}

.card-body {
    margin: 10px;
    margin-top: none;
}

.flexGoals {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}


.modal-footer{
    justify-content: center;
}

.modal-title {
    text-align: center;
}

.message {
    margin-bottom: 10px;
}

.bottom-buttons {
    justify-content: end;
}

.form-group {
    padding: 5px;
}

.button{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dollar {
    padding-left: 15px;
    width: 100%;

}

.amounts {
    display: flex;
    justify-content: space-between;
}

span {
    display: inline-block;
    position: relative;
    width: 100%;
}

span::before{
    content: "$";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}