<body>
    <div class="accountBox">
        <div class="container col-lg-4">
        </div>
        <div class="container col-lg-4">
            <h1>Your Account</h1>
            <ul class="list-group ">
                <li class="list-group-item">
                    username: {{ user.username }}
                </li>
                <li class="list-group-item">
                    first name: {{ user.firstName }}
                </li>
                <li class="list-group-item">
                    last name: {{ user.lastName }}
                </li>
                <li class="list-group-item">
                    email: {{ user.email }}
                </li>
            </ul>

            <br />
            <div class="d-grid gap-2">
                <button
                    class="form-group btn btn-success"
                    type="button"
                    (click)="open(updateModal)"
                >
                    Edit
                </button>
                <button
                    class="btn btn-danger btn-sm"
                    type="button"
                    (click)="deleteAccount()"
                >
                    Delete acount
                </button>
            </div>
        </div>
    </div>
    
</body>



<ng-template #updateModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Edit Your Account Details</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    
    <div class="modal-body">
      <form class="edit-form">
        <div>
            Username: {{ user.username }}
        </div>
        <br>
        <div class="alert alert-warning" *ngIf='badPassword'>Incorrect Password</div>
        <div class="mb-3">
            <label for="oldPass">Old Password: </label>
            <input id="oldPass" class="form-control" placeholder="Enter your password to make changes" name="oldPass" type="text" [(ngModel)]=enteredPassword>
        </div>
        <div class="mb-3">
            <label for="newPass">New Password: </label>
            <input id="newPass" class="form-control" name="newPass" type="text" [(ngModel)]=user.password>
        </div>
        <div class="mb-3">
            <label for="first">First Name: </label>
            <input id="first" class="form-control" name="first" type="text" [(ngModel)]=user.firstName>
        </div>
        <div class="mb-3">
            <label for="last">Last Name: </label>
            <input id="last" class="form-control"  name="last" type="text" [(ngModel)]=user.lastName>
        </div>
        <div class="mb-3">
            <label for="email">Email: </label>
            <input type="text" id="email" class="form-control" name="email" [(ngModel)]=user.email>
        </div>
      </form>
    </div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-success" (click)="updateAccount()">Save Changes</button>
    </div>
  </ng-template>