body {
    background-color: #caeff4;
    /* background-color: #FAD6D9; */
}
nav {
    background-color: #caeff4;
    padding-left: 15px;
}

.navbar {
    overflow: visible;
}

.nav-link {
    color: black;
}

#outlet {
    height: 100%
}

#logo {
    font-weight: bold;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: none;
}

#navbarNavAltMarkup {
    margin-left: 2em;
}

.navbar a {
    color: black;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #caeff4;
}

.dropdown-content a {
    float: none;
    display: block;
    text-align: left;
    padding: 8px;
}

.dropdown-content a:hover {
    background-color: #caeff4;
}

.dropdown:hover .dropdown-content {
    display: block;
}