
nav {
    background-color: #44c5e5;
    padding-left: 15px;
}

.nav-link {
    color: black;
}

#outlet {
    height: 100%
}

#logo {
    font-weight: bold;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#navbarNavAltMarkup {
    margin-left: 2em;
}