<body>
  <nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <div id="logo">Spyglass</div>
      <button *ngIf="isLoggedIn()"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" *ngIf="isLoggedIn()">
        <div class="navbar">
          <a routerLink="/home">Home</a>
          <a routerLink="/new-goal">New Goal</a>
          <div class="dropdown">
            <div> My Account </div>
            <div class="dropdown-content">
              <a routerLink="/account">Account</a>
              <a routerLink="/login">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div id="outlet">
      <router-outlet></router-outlet>
  </div>
</body>