body {
    background-image: url("../../../assets/photos/background.jpg");
    background-position: center;
    background-size: cover;

    overflow-x: hidden;
}

.loginStuff {
    width: 350px;
}

.item {
    flex: 1 1 0;
}

.container {
    position: absolute;
    top: 30%;
    left: 15%
}

.form-group {
    padding: 5px;
}

.button{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.modal-footer{
    justify-content: center;
}
 

#inputPass {
    width: 100%;
    float:left;
}
#iconPass {
    padding-top: 8px;
    width: 40px;
    margin-left: -60px;
}

#inputPass1 {
    width: 100%;
    float:left;
}
#iconPass1 {
    padding-top: 8px;
    width: 40px;
    margin-left: -60px;
}