body {
    background-image: url("../../../assets/photos/savings.png");

    background-position: center;
    background-size: cover;
}

.form-group {
    padding: 5px;
}

.button{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.modal-footer{
    justify-content: center;
}
 

#inputPass {
    width: 100%;
    float:left;
}
#iconPass {
    padding-top: 8px;
    width: 40px;
    margin-left: -60px;
}

#inputPass1 {
    width: 100%;
    float:left;
}
#iconPass1 {
    padding-top: 8px;
    width: 40px;
    margin-left: -60px;
}