body {
    background-color: #caeff4;
    background-image: url("../../../assets/photos/background_savings.jpg");
    background-position: center;
    background-size: cover;
}

.goalBox {
    display: flex;
    justify-content: space-between;
}
img {max-width:100%;}

.form-group {
    padding: 5px;
}

h1 {
    text-align: center;
}


.image {
    max-width:100%;
    max-height:100%;
}

.file-input {
    display: none;
}

.file-upload {
    display: flex;
    justify-content: flex-end;
}

.typeStuff {
    margin-top: 10px;
}

span {
    display: inline-block;
    position: relative;
    width: 100%;
}

ul {
    display: inline-block;
    position: relative;
    width: 100%;
}

span::before{
    content: "$";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

ul::before{
    content: "$";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.dollar {
    padding-left: 15px;
    width: 100%;
}

.amounts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.inputAmount {
    padding-right: 50px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.upload-btn {
    justify-content: right;
}

#typeSelector {
    width: 100%;
    float:left;
}
#dropdown {
    padding-top: 8px;
    width: 40px;
    margin-left: -60px;
}